<!DOCTYPE html>
<html>
<head>
<title>Tie fighter</title>
<style>
	body {
		padding:0;
		margin:0;
    width: 100%;
    height: 100%;
	}
  #container {
    width: 100%;
    height: 100%;
    background-color: red;
    font-size: 20em;
    text-align: center;
  }
</style>
</head>
<body>
  <div id="container">FIRE</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
  <script src="js/pad.js"></script>
</body>
</html>
