<!DOCTYPE html>
<html>
<head>
<title>Tie fighter</title>
<style>
	body {
		background:#000;
		color: #eee;
		padding:0;
		margin:0;
		font-weight:bold;
		overflow:hidden;

		font-family:Monospace;
		font-size:13px;
		text-align:center;
	}
</style>
</head>
<body>
  <div id="viewport"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
  <script src="js/controls/FlyControls.js"></script>
  <script src="js/shaders/CopyShader.js"></script>
  <script src="js/shaders/FilmShader.js"></script>
  <script src="js/postprocessing/EffectComposer.js"></script>
  <script src="js/postprocessing/ShaderPass.js"></script>
  <script src="js/postprocessing/MaskPass.js"></script>
  <script src="js/postprocessing/RenderPass.js"></script>
  <script src="js/postprocessing/FilmPass.js"></script>
  <script src="js/Detector.js"></script>	
  <script src="js/three.js"></script>
</body>
</html>
